<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/IdeaProjects/NInjaGit/SeleniumFrameworkNinja/src/test/java/Com/TestNG/NinjaQa/Test/LoginTest.java">
        <classes>
            <class name="Com.TestNG.NinjaQa.Test.LoginTest">
                <methods>
                    <include name="TC01verifyloginwithValidCredentials"/>
                    <include name="TC02loginwithInvalidCredentials"/>
                    <include name="TC03VeifyLoginvalidEmailAddressvalidpassword"/>
                    <include name="TC04VeifyLoginvalidEmailAddressvalidpassword"/>
                    <include name="TC05WithoutProvidingCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/IdeaProjects/NInjaGit/SeleniumFrameworkNinja/src/test/java/Com/TestNG/NinjaQa/Test/SearchTest.java">
        <classes>
            <class name="Com.TestNG.NinjaQa.Test.SearchTest">
                <methods>
                    <include name="verifySearchWithValidProduct"/>
                    <include name="verifySearchWithInvalidProduct"/>
                    <include name="verifySearchWithOutAnyProduct"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/IdeaProjects/NInjaGit/SeleniumFrameworkNinja/src/test/java/Com/TestNG/NinjaQa/Test/RegisterClass.java">
        <classes>
            <class name="Com.TestNG.NinjaQa.Test.RegisterClass">
                <methods>
                    <include name="verifyRegisteringAnAccountwithMandatoryFields"/>
                    <include name="verifyRegisteringAnAccountwithAllFields"/>
                    <include name="verifyRegisteringAnAccountwithExistingEmailAddress"/>
                    <include name="verifyRegisteringAnAccountWithoutFillingDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>